<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        section {
            border: solid 1px #ccc;
            width: 30vw;
            /* margin: 1%; */
        }

        section > h2, section > p {
            margin: 10px;
        }

        section > img {
            width: 100%;
        }
    </style>

    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <section>
            <h2>{{ restaurant.get('name') }}</h2>
            <img src={{ restaurant.get('image_url') }} style="width: 100%;">
            <p>{{ restaurant.get('display_address') }}</p>
            <p>Price: <strong>{{ restaurant.get('price') }}</strong></p>
            <p>Rating: <strong>{{restaurant.get('rating')}}</strong></p>
            <p># Reviews: <strong>{{restaurant.get('review_count')}}</strong></p>
        </section>
    </main>
</body>
</html>

